{% extends 'base.html' %}
{% load template_tag_examples %}
{% load staticfiles %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}

{% block title %}Заказ{% endblock %}
{% block content %}
    <h1>Заказ #{{ order.pk }}</h1>
    <p>Сегодня - {% current_time "%d.%m.%Y %H:%M" %}</p>
    <p>Контактные данные: {{ order.contact_phone }} - {{ order.contact_name|upper }}</p>
    <p>Адрес доставки: {{ order.delivery_address|default_if_none:"Не указан" }}</p>
    <p>{% if order|can_be_delivered_by:request.user %}
        Заказ может быть доставлен
    {% else %}
        Заказ не может быть доставлен
    {% endif %}</p>
    <h2>Блюда: </h2>
    <p>(<a href="{% url 'order_food_create' order.pk %}" data-toggle="modal" data-target="#food_edit_modal">Добавить</a>)</p>
    <ul id="order_food_list">
        {% for order_food in order|get_foods %}
            {# пример шаблонных фильтров Django #}
            {# раскомментируйте этот блок и закомментируйте следующий, #}
            {# чтобы посмотреть на работу фильтра increment, #}
            {# последовательное применение фильтров cut и upper #}
            {# и работу тега show_food_form #}
            {# <li>{{ order_food.food.name|cut:'d'|upper }}: {{ order_food.amount|increment }} шт. #}
            {#     (<a href="#">Изменить</a> / #}
            {#     <a href="#">Удалить</a>) #}
            {#     <p>{% show_food_form order_food.pk %}</p> #}
            {# </li>#}

            {# используем data-атрибут для хранения pk объекта food, #}
            {# который нужен для заполнения формы. #}
            {# используем order_food.pk, как часть id пункта li #}
            {# и указываем его в data-атрибуте ссылки на редактирование #}
            {# для связи этой ссылки и блока с данными одного и того же объека order_food. #}
            {# для внутренних элементов вместо id задаём классы, т.к. #}
            {# id на странице не должны повторяться, а классы могут. #}
            <li id="order_food_{{ order_food.pk }}">
                <span class="food_name" data-food_pk="{{ order_food.food.pk }}">{{ order_food.food.name }}</span>:
                <span class="food_amount">{{ order_food.amount }}</span> шт.
                (<a class="edit_link" href="{% url 'order_food_update' order_food.pk %}" data-pk="{{ order_food.pk }}">Изменить</a> /
                <a href="#">Удалить</a>)
            </li>
        {% endfor %}
    </ul>

    <div class="modal" tabindex="-1" role="dialog" id="food_edit_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить блюда</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="food_form" action="{% url 'order_food_create' order.pk %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="food_submit">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# весь код переехал в static/js/main.js #}
    <script type="application/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
